@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative|Monoton|Playfair+Display|Sacramento');
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Cinzel', serif;*/
/*font-family: 'Sacramento', cursive;*/
/*font-family: 'Monoton', cursive;*/
/*font-family: 'Cinzel Decorative', cursive;*/

body{
    background-color: darkblue;
}
.body{
    background-color: darkblue;
    overflow: hidden;
    height: 100%;
}
.ni{
    font-family: 'Monoton', cursive;
    z-index: 2;
    font-size: 1.5em;
    color: darkblue;
    position: fixed;
    top:390px;
    left: 690px;

}
.moon1{
    width: 120px;
    height: 120px;
    background-color: cadetblue;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    position: fixed;
    top:350px;
    left: 642px;
    transition: background-color 0.3s ease-in;
    z-index: 1;
}

.moon1:hover{
    background-color: aquamarine;
}
.moon2{
    width: 116px;
    height: 116px;
    background-color: darkblue;
    -moz-border-radius: 58px;
    -webkit-border-radius: 58px;
    border-radius: 58px;
    position: absolute;
    top:351px;
    left: 640px;
    transition: background-color 0.3s ease-in;
    z-index: 3;

}


.rectangletop{
    width: 5000px;
    background-color: darkblue;
    height: 100px;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    white-space: nowrap;
}
.rectangleunder{
    width: 5000px;
    background-color: black;
    height: 100px；
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    white-space: nowrap;
}
.feb {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;

    display: table;

    color: crimson;
    text-transform: uppercase;
    text-align: center;

    font-size: 1em;
    font-family: 'Playfair Display', serif;

    letter-spacing: 2em;
    line-height: 1.2em;
    z-index: 4;
}
.menu{
    position: absolute;
    left:1500px;
    writing-mode: vertical-lr;
    line-height:100px;
    font-family: 'Playfair Display', serif;
    color: cadetblue;
}

p{
    transition: color 0.3s ease-in;
}
p:hover{
    color: crimson;}

#box1,#box2,#box3,#box4,#box5 {
    padding-top:50px;
    /*border:1px solid green;*/
}